<!-- graph_template.html -->

{% extends 'base.html' %}
{% block title %}Graphs{% endblock %}
{% block content %}

<style>
    /* CSS styles for the chart page */
    .chart-page-container {
        width: 100%;
        padding: 20px;
    }

    .chart-container {
        width: 60%; /* Adjust the width as needed */
        margin: 0 auto;
        margin-right: 8%;
        margin-top: 5%;
    }

    #monthlyChart {
        margin-bottom: 50px;
    }
</style>
</head>
<body>

<div class="chart-page-container">
    <div class="chart-container">
        <canvas id="monthlyChart"></canvas>
        <canvas id="yearlyChart"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var chartData = JSON.parse('{{ chart_data|escapejs }}');

        // Create monthly chart
        var monthlyChartCtx = document.getElementById('monthlyChart').getContext('2d');
        var monthlyChart = new Chart(monthlyChartCtx, {
            type: 'bar',
            data: {
                labels: chartData.monthly_labels,
                datasets: [{
                    label: 'Monthly Purchase',
                    data: chartData.monthly_purchase,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                },
                {
                    label: 'Monthly Debit',
                    data: chartData.monthly_debit,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        // Create yearly chart
        var yearlyChartCtx = document.getElementById('yearlyChart').getContext('2d');
        var yearlyChart = new Chart(yearlyChartCtx, {
            type: 'line',
            data: {
                labels: chartData.yearly_labels,
                datasets: [{
                    label: 'Yearly Purchase',
                    data: chartData.yearly_purchase,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                },
                {
                    label: 'Yearly Debit',
                    data: chartData.yearly_debit,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
</script>
{% endblock %}
