<tbody>
    {% for purchase in purchases %}
    <tr>
        <td>{{ purchase.billdate|date:'d-m-Y' }}</td>
        <td>{{ purchase.billno }}</td>
        <td>{{ purchase.party.party_name }}</td>
        <td>Bill</td>
        <td>{{ purchase.grandtotal }}</td>
    </tr>
    {% endfor %}
    {% for debit_note in debit %}
    <tr>
        <td>{{ debit_note.created_at|date:'d-m-Y' }}</td>
        <td>{{ debit_note.bill }}</td>
        <td>{{ debit_note.party.party_name }}</td>
        <td>Debit Note</td>
        <td>{{ debit_note.grandtotal }}</td>
    </tr>
    {% endfor %}
    {% if purchases %} 
    <!-- <tr>
        <td colspan="4" style="text-align: right; font-weight: bold;">Total Purchase Amount:</td>
        <td>{{ total_purchase_amount }}</td>
    </tr>
    <tr>
        <td colspan="4" style="text-align: right; font-weight: bold;">Total Debit Amount:</td>
        <td>{{ total_debit_amount }}</td>
    </tr> -->
    <tr>
        <td colspan="4" style="text-align: right; font-weight: bold;">Total Purchase Amount:</td>
        <td>{{ total_amount_after_debit }}</td>
    </tr>
    {% else %}
    <tr>
    <!-- <td colspan="5">No purchases found.</td> -->
    </tr>
    {% endif %}  
</tbody>